<template>
  <q-page class="flex flex-center" style="background-image: linear-gradient(to right top, #051937, #00456c, #00789f, #00aec9, #17e7e7);">
    <!-- <img alt="Quasar logo" src="../statics/ait.png" height="200px" width="auto"> -->
    <q-card class="my-card shadow-24" style="width: 380px; height: 125px; animation: fadein 1s;overflow: hidden;">
      <q-card-section>
        <div class="text-h4 text-center">Use as default app</div>
      </q-card-section>
      <q-separator />
      <div class="text-h4 text-weight-light text-center">{{customParam}}  </div>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'CustomPWA',
  data () {
    return {
      param: this.$route.params.id ?? ''
    }
  },
  computed: {
    customParam () {
      return this.param.substring(this.param.indexOf(":") + 1, this.param.length)
    }
  },
  methods: {
  }
}
</script>
<style lang="sass" >
</style>
