<template>
  <q-page class="flex flex-center" style="background-image: linear-gradient(to right top, #051937, #00456c, #00789f, #00aec9, #17e7e7);">
    <!-- <img alt="Quasar logo" src="../statics/ait.png" height="200px" width="auto"> -->
    <q-card class="my-card shadow-24" style="width: 400px; height: 640px; animation: fadein 1s;overflow: hidden;">
      <q-card-section>
        <div class="text-h4 text-weight-light">Notes</div>
        <div class="text-subtitle2"></div>
      </q-card-section>

      <q-separator />

      <q-card-actions vertical>
       <q-input ref="note" v-model="text" placeholder="Write some text" @keyup.enter.native="() => { if (text && text.length > 0) insertToIdb('NOTES', text) }" :dense="true" class="q-mx-lg" :rules="[ val => val && val.length > 0 || 'Please type something']" />
      </q-card-actions>
      <q-list>
        <q-item clickable v-for="note in notes" :key="note">
          <q-item-section>
            <q-item-label class="q-mx-lg">{{note}}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <q-separator />

      <q-card-actions class="" style="position: absolute; bottom: 0; right: 0;">
        <q-btn @click="() => { notes = []; clearIdb() }" flat>Clear all</q-btn>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
// very light version of idb, when you only need to stock key|value data types in cache
import { get, set, clear } from 'idb-keyval'
import notif from '../utils/notificationHelper'

export default {
  name: 'PageIndex',
  data () {
    return {
      text: '',
      notes: []
    }
  },
  methods: {
    ...notif,
    insertToIdb (action, value) {
      // navigator.serviceWorker.controller.postMessage({ value: value, action: action })
      this.notes.push(value)
      this.showNotification(this.swRegistration, 'New Message', {body: value, tag: 'hello_world'})
      this.text = ''
      this.$refs.note.resetValidation()
      navigator.setAppBadge(this.notes.length).catch((error) => {
        //Do something with the error.
        console.log(error)
      });

      set(action, this.notes)
    },
    getFromIdb (action) {
      // navigator.serviceWorker.controller.postMessage({ action: action })
      get(action).then(val => { val ? this.notes = val : this.notes = [] })
    },
    clearIdb (value) {
      clear()
      this.pushMessage()
      this.$refs.note.resetValidation()
      this.notes = []
      navigator.setAppBadge(this.notes.length).catch((error) => {
        //Do something with the error.
        console.log(error)
      });
    },
    pushMessage() {
			return fetch('https://localhost:5001/api/sendNotifications/notify', {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json'
				},
				cache: 'no-store'
			});
		}
  },
  computed: {
    swRegistration () {
      console.log(this.$store.getters['pushNotifications/swRegistration'], this.$store)
      return this.$store.getters['pushNotifications/swRegistration']
    },
    subscription () { 
      return this.$store.getters['pushNotifications/subscription']
    }
  },
  created () {
    this.getFromIdb('NOTES')
  }
}
</script>
<style lang="sass" >
</style>
