<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { Notify } from 'quasar'
import notif from './utils/notificationHelper'
import update from './utils/updatePwaHelper'
import install from './utils/installPwaHelper'

export default {
  name: 'App',
  data () {
    return {
      deferredPrompt: null,
    }
  },
  methods: {
    ...notif,
    ...update,
    ...install,
    async subscribeUserToPush () {
      var obj = await notif.subscribeUserToPush()

      // Send subscription to server
      this.sendSubscriptionToBackEnd(obj.pushSubscription)
      console.log('swRegistration', this.swRegistration)

      if (!this.swRegistration) this.$store.dispatch("pushNotifications/addSwRegistration", obj.registration);
      if (!this.subscription) this.$store.dispatch("pushNotifications/addSubscription", obj.pushSubscription);
    }
  },
  computed: {
    swRegistration () {
      return this.$store.getters['pushNotifications/swRegistration']
    },
    subscription () { 
      return this.$store.getters['pushNotifications/subscription']
    }
  },
  mounted () {
    // Register a new protocol ex on url: web+custompwa:test
    // Same as you would do with mailto, ex mailto:test@test.com
    if ('registerProtocolHandler' in navigator) {
      // Yay! The user has a decent browser.
      //first param is name or protocol, second route + parameter, third is name
      navigator.registerProtocolHandler(
        'web+custompwa',
        '/custom/%s',
        'CustomPWA'
      )

    } else {
      // Seriously, quit using IE already.
    }
    // Check updates from SW
    this.checkPeriodicUpdate()

    // Check if can do notifications or push notifications
    if (this.arePushNotificationSupported()) {
      if (!this.swRegistration || !this.subscription) this.subscribeUserToPush()
    }
    this.initInstall()
    
  }
}
</script>
