<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
          PWA Demo...
        </q-toolbar-title>
      <q-btn unelevated color="primary" label="Clear" @click="clearIdb"/>
      <q-btn-dropdown flat label="Liste download" dropdown-icon="change_history">
        <q-list>
          <q-item clickable v-close-popup v-if="files.length === 0">
            <q-item-section>
              <q-item-label>No files to download</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-close-popup v-for="file of files" :key="file.name" @click="onItemClick(file)">
            <q-item-section>
              <q-item-label>{{file.name}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
      <q-btn unelevated color="primary" label="PDF" @click="save"/>
      <q-btn unelevated color="primary" icon="share" @click="webShare"/>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Pages v3</q-item-label>
        <q-item clickable  to="/">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
            <q-item-label caption>Notes</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
      <q-dialog v-model="seamless" seamless position="bottom">
        <q-card style="width: 350px">
          <q-linear-progress :value="0.6" color="pink" ></q-linear-progress>

          <q-card-section class="row items-center no-wrap">
            <div>
              <div class="text-weight-bold">The Walker</div>
              <div class="text-grey">Fitz & The Tantrums</div>
            </div>

            <q-space ></q-space>

            <q-btn flat round icon="play_arrow" ></q-btn>
            <q-btn flat round icon="pause" ></q-btn>
            <q-btn flat round icon="close" v-close-popup ></q-btn>
          </q-card-section>
        </q-card>
      </q-dialog>
    </q-page-container>
  </q-layout>
</template>

<script>
import { get, set, clear } from 'idb-keyval'

export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false,
      seamless: false,
      url: 'https://localhost:5001/api/download',
      selectedFile: '',
      files: []
    }
  },
  computed: {
    contentSize () {
      return this.moreContent ? 150 : 5
    }
  },
  methods: {
    webShare () {
      console.log(navigator)
      if (navigator.share) {
        navigator.share({
          title: 'PWA Demo',
          text: 'Check out my PWA Demo.',
          url: 'https://localhost:8080/',
        })
          .then(() => console.log('Successful share'))
          .catch((error) => console.log('Error sharing', error));
      }
    },
    insertToIdb (action, value) {
      this.files.push(value)
      set(action, this.files)
    },
    getFromIdb (action) {
      get(action).then(val => { val ? this.files = val : this.files = [] })
    },
    clearIdb (value) {
      clear()
      this.files = []
    },
    async verifyPermission(fileHandle) {
      const opts = {};
      // Check if we already have permission, if so, return true.
      if (await fileHandle.queryPermission(opts) === 'granted') {
        return true;
      }
      // Request permission, if the user grants permission, return true.
      if (await fileHandle.requestPermission(opts) === 'granted') {
        return true;
      }
      // The user didn't grant permission, return false.
      return false;
    },
    async onItemClick (handler) {
      // Permission are not persisted
      let isPermitted = await this.verifyPermission(handler)
      if (isPermitted) {
        // Get the blob
        let file = await handler.getFile()
        // Create Object Url
        let blobURL = URL.createObjectURL(file)
        // Open it on a new window
        window.open(blobURL)
      } else {
        this.$q.notify('No permissions')
      }
    },
    /**
   * Create a handle to a new (text) file on the local file system.
   *
   * @return {!Promise<FileSystemFileHandle>} Handle to the new file.
   */
    async getNewFileHandle() {
      const opts = {
        type: 'save-file',
        accepts: [{
          description: 'Pdf file',
          extensions: ['pdf'],
          mimeTypes: ['application/pdf'],
        }],
      }
      const handle = await window.chooseFileSystemEntries(opts);
      return handle;
    },
    async writeURLToFile(fileHandle, url) {
      // Create a FileSystemWritableFileStream to write to.
      const writable = await fileHandle.createWritable();
      // Make an HTTP request for the contents.
      const response = await fetch(url, {headers: {'Content-Type' : 'application/pdf'}});
      // Stream the response into the file. pipeTo() closes the destination pipe by default, no need to close it.
      await response.body.pipeTo(writable);
      // Get the blob
      let file = await fileHandle.getFile()
      // Create Object Url
      let blobURL = URL.createObjectURL(file)
      // Open it on a new window
      window.open(blobURL)
      // Add handler to IDB to be able to use it later
      this.insertToIdb("FILES", fileHandle)
      console.log(fileHandle)
    },
    async save() {
      let fileHandle = await this.getNewFileHandle()
      this.writeURLToFile(fileHandle, this.url)
    }
  },
  mounted () {
    this.getFromIdb('FILES')
  }
}
</script>
